<%= form_for(information, url: {action: "create", controller: "informations"}) do |f| %>
    <div class="form-group">
      <%= f.label :domain_name %><br/>
      <%= f.text_field :domain_name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "Nombre d'habitants" %><br/>
      <%= f.text_field :ip_machine, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :machine_name %><br/>
        <%= f.text_field :machine_name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :installation_type %><br/>
      <%= f.select(:installation_type, [['Instance X Road', "Instance X-Road"], ['Security Server', "Security Server"], ['Central Server', "Central Server"], ['Certficat Autority Server', "Certficat Autority Server"], ['Proxy Server', "Proxy Server"]],{},{class: 'form-control'}) %>
        
    </div>

    <div class="actions">
      <%= f.submit "Install", class: 'btn purple-btn' %>
    </div>
 <% end %>