<%= form_for(information, url: {action: "create", controller: "informations"}) do |f| %>
    <div class="form-group hidden" id="domain-name">
      <%= f.label "Nom du domaine" %><br/>
      <%= f.text_field :domain_name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group hidden" id="number-people">
      <%= f.label "Nombre d'habitants" %><br/>
      <%= f.text_field :ip_machine, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group hidden" id="machine-name">
        <%= f.label "Nom de la machine" %><br/>
        <%= f.text_field :machine_name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group" id="installation_type">
      <%= f.label "Type d'installation" %><%= session[:test]%><br/>

      <% if session[:installation_type] %>
        <%= session[:installation_type] %>
        <%= f.hidden_field :installation_type, value: session[:installation_type] %>
      <% else %>
        <%= f.select(:installation_type, [['Security Server', "Security Server"], ['Central Server', "Central Server"], ['Certficat Autority Server', "Certficat Autority Server"], ['Proxy Server', "Proxy Server"], ['Instance X-Road', "Instance X-Road"]],{},{class: 'form-control'}) %>
      <% end %>
        
    </div>

    <div class="actions">
      <%= f.submit "Suivant", class: 'btn purple-btn', id: 'submit-button' %>
    </div>
 <% end %>